*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}

section
{
    padding: 100px;
}
.banner
{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url("img/side9.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    opacity: 0.9;
}

.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: 2px;
}

.banner h2 span
{
    font-size: 1.5em;
    font-weight: 600;    
    letter-spacing: 2px;
}

.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    line-height: 1.6em;
    letter-spacing: 2px;
}

.btn
{
    position: relative;
    background: #2196f3;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    border: 2px solid #2196f3;
}

.btn:hover
{
    background: transparent;
}


header
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    width: 100%;
    padding: 15px 10px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
    
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    position: relative;
    list-style: none;
    padding: 20px 0px;
    
}

header ul li:hover
{
    background-color: #2196f3;
}

header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.heading    
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2
{
    font-weight: 550;
    font-size: 4.0em;
}
.content
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenBx
{
    padding-right: 30px;
}

.contenBx h3
{
    font-size: 3em;
    font-weight: 500;
    
}
.contenBx p
{
    font-size: 1.6em;
    font-weight: 400;    
    line-height: 1.3em;    
}

.w50
{
    min-width: 50%;
}

.services
{
    background: #111;
    
}

.services .heading
{
    color: #fff;
    
}
.services .heading p
{
    font-size: 1.4em;
}

.services .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 500px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.services .content .servicesBx:hover
{
    background-color:  #2196f3;
}


.services .content .servicesBx img
{
    max-width: 80px;
    filter: invert(1);
    margin-bottom: 10px;
}

.services .content .servicesBx h2
{
    font-weight: 550;
    font-size: 2.0em;
    margin: 10px;
}
.services .content .servicesBx p
{
    font-size: 1.6em;
    font-weight: 400;   
    margin: 10px;
}

.work
{
    position: relative;
    min-height: 100vh;
    background: url("img/banner\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.9;
}

.work .heading h2
{
    color: #fff;
}

.work .content
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.content .workBx:hover
{
    background: #2196f3;
    color: black;
}
.content .workBx
{
    padding: 40px 20px;
    background: black;
    color: #fff;
    width: 340px;
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    border: 2px solid  #2196f3;
}
.workBx h2
{
    font-weight: 550;
    font-size: 3.0em;
    margin: 10px;
}

.workBx ul li
{
    list-style: none;  
    font-size: 1.4em;
    margin: 10px;
}

.contact .heading h2
{
    color: #fff;
}
.contact
{
    color: #fff;
    background: #111;
    padding: 30px;
}


.contact .content
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.conactInfo
{
    min-height: 40%;    
}

.conactInfoBx
{
    position: relative;
}

.conactInfoBx .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.conactInfoBx h3
{
    font-weight: 550;
    font-size: 30px;
    margin: 10px;   
    color: white;
}

.conactInfoBx  .box .text h3
{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}
.conactInfoBx  .box .text img
{
    filter: invert(1);
    max-width: 40px;
    padding: 10px;
    max-width: 70px; 
}

.conactInfoBx .box .text p
{
    font-weight: 300;
    font-size: 16px;
    margin: 10px;   
    color: white;
  
}

.contact .content .formbx
{
    min-width: 60%;
}

.contact .content .formbx form 
{
    display: flex;
    flex-direction: column;
}

.contact .content .formbx form input,
.contact .content .formbx form textarea
{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
} 

.contact .content .formbx form h3
{
    font-weight: 550;
    font-size: 30px;
    margin: 10px;   
    color: white;
}

.formbx form input,
.formbx form textarea
{
    margin-bottom: 20px;
    padding: 14px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    resize: none;
    
}
.formbx form textarea{
    
    min-height: 200px;

}

.formbx form input::placeholder,
.formbx form textarea::placeholder
{
 color: #999;
}

.formbx form a
{
    text-align: center;
    
}

.copyright
{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (max-width: 991px)
{
    .menu
    {
        position: fixed;
        top: 58px;
        left: 0;
        display: none;
        text-align: center;
        background-color: #222;
        width: 100%;
        height: 100%;
        border-top:  1px solid reba(0,0,0,0.2);
        transition: 0.10;
        z-index: 0.9;
        
    }
    
    .menu.active
    {
        display: block;        
    }

   .toggle
   {
       width: 40px;
       height: 40px;
       background: url("img/menu.png");
       background-position: center;
       background-repeat: no-repeat;
       background-size: 30px;
       cursor: pointer;
       transition: 0.5;
       
    }
    
    .toggle.active
    {
        background: url("img/close.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;        
    }
    
    .contact .content 
    {
        flex-direction: column;
        padding: 15px;
    }


    .contact .content .formbx form 
    {
        margin-top: 20px;
    }
    
    section 
    {
        padding: 10px;
    }
    

  
    .banner h2 {
    font-size: 1.5em;
    }

    .banner {
        min-height: 60vh;
    }


   .heading h2 {
    font-weight: 550;
    font-size: 2em;
   }

   .contenBx h3 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
   }

   .contenBx {
       padding-right: 0;
    }

   .contenBx p{
      font-size: 1.2rem;   
   }

   .services .content .servicesBx h2 {
   
    font-size: 1.5em;
   
}

 .services .content .servicesBx p {
    font-size: 1.1em;
    
}

.services .content .servicesBx {
    padding: 15px 0px;
   
}

.workBx h2 {
 
    font-size: 1.7em;
 
}

.workBx ul li {
    font-size: 1.2em;
    
}

.content .workBx {
    padding: 10px 10px;
} 

.conactInfoBx .box .text img {
    max-width: 43px;
}

.contact .content .formbx form input,
.contact .content .formbx form textarea
 {
   font-size: 12px;
}

}