*{
    margin: 0;
    padding: 0;
}

.container{

    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container form{
     
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    padding: 17px;   
    
}

.container form .input-fild
{
    padding: 4px;
    border-radius: 7px;
    margin-bottom: 7px;
}